In [4]:
import pandas as pd
import joblib
import numpy as np
import os
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder

In [5]:
data=pd.read_csv(r"C:\Users\Avijit\Desktop\AgriAssure\AGRIYIELDPRO\DATASET\crop_yield-03.csv")
data.head()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909

In [6]:
del data['Crop_Year']

In [7]:
data.head()

,Crop,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arecanut,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087
1,Arhar/Tur,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435
2,Castor seed,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333
3,Coconut,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739
4,Cotton(lint),Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909

In [8]:
crop_encoder=LabelEncoder()
season_encoder=LabelEncoder()
state_encoder=LabelEncoder()
scaler=StandardScaler()

In [9]:
data['Crop']=crop_encoder.fit_transform(data['Crop'])
data['Season']=crop_encoder.fit_transform(data['Season'])
data['State']=crop_encoder.fit_transform(data['State'])

In [11]:
joblib.dump(crop_encoder,'c:\\Users\\Avijit\\Desktop\\AgriAssure\\AGRIYIELDPRO\\ENCODER-DECODER\\crop.pkl')
joblib.dump(season_encoder,'c:\\Users\\Avijit\\Desktop\\AgriAssure\\AGRIYIELDPRO\\ENCODER-DECODER\\season.pkl')
joblib.dump(state_encoder,'c:\\Users\\Avijit\\Desktop\\AgriAssure\\AGRIYIELDPRO\\ENCODER-DECODER\\state.pkl')

['c:\\Users\\Avijit\\Desktop\\AgriAssure\\AGRIYIELDPRO\\ENCODER-DECODER\\state.pkl']

In [13]:
data.iloc[:,:-1]=scaler.fit_transform(data.iloc[:,:-1])

C:\Users\Avijit\AppData\Local\Temp\ipykernel_14812\1889209691.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-1.88668324 -1.82241779 -1.37255967 ... -0.34431252  0.68393463
  1.51938544]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.iloc[:,:-1]=scaler.fit_transform(data.iloc[:,:-1])
C:\Users\Avijit\AppData\Local\Temp\ipykernel_14812\1889209691.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 1.60543717 -0.84858584 -0.84858584 ... -0.84858584 -0.84858584
 -0.03057817]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.iloc[:,:-1]=scaler.fit_transform(data.iloc[:,:-1])
C:\Users\Avijit\AppData\Local\Temp\ipykernel_14812\1889209691.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-1.36983279 -1.36983279 -1.36983279 ... -0.48096682 -0.48096682
 -0.48096682]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.iloc[:,:-1]=scaler.fit_transform(data.iloc[:,:-1])
C:\Users\Avijit\AppData\Local\Temp\ipykernel_14812\1889209691.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.06226658 -0.06246435 -0.06248207 ... -0.06080605 -0.06246129
 -0.06099134]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.iloc[:,:-1]=scaler.fit_transform(data.iloc[:,:-1])

In [16]:
joblib.dump(scaler,"c:\\Users\\Avijit\\Desktop\\AgriAssure\\AGRIYIELDPRO\\ENCODER-DECODER\\scaler.pkl")

['c:\\Users\\Avijit\\Desktop\\AgriAssure\\AGRIYIELDPRO\\ENCODER-DECODER\\scaler.pkl']

In [17]:
data

,Crop,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,-1.886683,1.605437,-1.369833,-0.144802,-0.062267,0.751197,-0.179880,-0.121745,0.796087
1,-1.822418,-0.848586,-1.369833,-0.236473,-0.062464,0.751197,-0.247217,-0.219385,0.710435
2,-1.372560,-0.848586,-1.369833,-0.244443,-0.062482,0.751197,-0.253072,-0.227875,0.238333
3,-1.308294,1.605437,-1.369833,-0.218707,0.419954,0.751197,-0.234167,-0.200462,5238.051739
4,-1.179763,-0.848586,-1.369833,-0.243157,-0.062479,0.751197,-0.252127,-0.226504,0.420909
...,...,...,...,...,...,...,...,...,...
19684,0.940996,-0.848586,0.519007,-0.240071,-0.062475,0.073749,-0.249707,-0.223593,0.500000
19685,1.519385,-0.030578,0.519007,-0.244165,-0.062471,0.073749,-0.252829,-0.227672,3.000000
19686,-0.344313,-0.848586,-0.480967,0.178704,-0.060806,-0.099836,0.057755,0.222829,1.285000
19687,0.683935,-0.848586,-0.480967,0.130756,-0.062461,-0.099836,0.022534,0.171758,0.016667
19688,1.519385,-0.030578,-0.480967,0.081082,-0.060991,-0.099836,-0.013955,0.118849,1.261818

In [19]:
data['Yield']=data['Yield']*1000

In [37]:
Q1 = data['Yield'].quantile(0.25)
Q3 = data['Yield'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = data[(data['Yield'] < lower_bound) | (data['Yield'] > upper_bound)]
num_outliers = outliers.shape[0]

print(f"Number of outliers in 'Yield': {num_outliers}")
data = data[(data['Yield'] >= lower_bound) & (data['Yield'] <= upper_bound)]
print(f"Remaining data after outlier removal: {data.shape[0]} rows")

Number of outliers in 'Yield': 0
Remaining data after outlier removal: 14464 rows

In [38]:
percent = (num_outliers / data.shape[0]) * 100
print(f"Outliers percentage in 'Yield': {percent:.2f}%")

Outliers percentage in 'Yield': 0.00%

Crop: The name of the crop cultivated.
Crop_Year: The year in which the crop was grown.
Season: The specific cropping season (e.g., Kharif, Rabi, Whole Year).
State: The Indian state where the crop was cultivated.
Area: The total land area (in hectares) under cultivation for the specific crop.
Production: The quantity of crop production (in metric tons).
Annual_Rainfall: The annual rainfall received in the crop-growing region (in mm).
Fertilizer: The total amount of fertilizer used for the crop (in kilograms).
Pesticide: The total amount of pesticide used for the crop (in kilograms).
Yield: The calculated crop yield (production per unit area).
Use Cases:

In [40]:
data.to_csv(r'C:\Users\Avijit\Desktop\AgriAssure\AGRIYIELDPRO\PROCESSED_DATASET\yield5.csv',index=False)