In [97]:
import pandas as pd
import joblib
import numpy as np
import os
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder

In [90]:
path=os.path.join('c:\\Users\\Avijit\\Desktop\\AgriAssure\\AGRIYIELD PRO\\DATASET',"crop_yield-03.csv")

In [91]:
data=pd.read_csv(path)
data.head()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909

In [92]:
del data['Crop_Year']
del data['State']
del data['Yield']

In [93]:
data.head()
data['yield']=data['Production']/data['Area']

In [95]:
del data['Production']
del data['Area']

In [98]:
crop_encoder=OneHotEncoder()
season_encoder=OneHotEncoder()
scaler=StandardScaler()

In [ ]:
encoder = OneHotEncoder(sparse_output=False, drop='first')
encoded=encoder.fit_transform(data[['Crop','Season']])

In [65]:
joblib.dump(crop_encoder,'c:\\Users\\Avijit\\Desktop\\AgriAssure\\AGRIYIELD PRO\\ENCODER-DECODER\\crop.pkl')
joblib.dump(season_encoder,'c:\\Users\\Avijit\\Desktop\\AgriAssure\\AGRIYIELD PRO\\ENCODER-DECODER\\season.pkl')

['c:\\Users\\Avijit\\Desktop\\AgriAssure\\AGRIYIELD PRO\\ENCODER-DECODER\\season.pkl']

In [116]:
crop_en=joblib.load(r'c:\\Users\\Avijit\\Desktop\\AgriAssure\\AGRIYIELD PRO\\ENCODER-DECODER\\crop.pkl')
season_en=joblib.load(r'c:\\Users\\Avijit\\Desktop\\AgriAssure\\AGRIYIELD PRO\\ENCODER-DECODER\\season.pkl')

In [117]:
data['Crop']=crop_en.fit_transform(data['Crop'])
data['Season']=season_en.fit_transform(data['Season'])

In [66]:
data.iloc[:,:-1]=scaler.fit_transform(data.iloc[:,:-1])

C:\Users\Avijit\AppData\Local\Temp\ipykernel_12864\1889209691.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-1.88668324 -1.82241779 -1.37255967 ... -0.34431252  0.68393463
  1.51938544]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.iloc[:,:-1]=scaler.fit_transform(data.iloc[:,:-1])
C:\Users\Avijit\AppData\Local\Temp\ipykernel_12864\1889209691.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 1.60543717 -0.84858584 -0.84858584 ... -0.84858584 -0.84858584
 -0.03057817]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.iloc[:,:-1]=scaler.fit_transform(data.iloc[:,:-1])

In [67]:
joblib.dump(scaler,"c:\\Users\\Avijit\\Desktop\\AgriAssure\\AGRIYIELD PRO\\ENCODER-DECODER\\scaler.pkl")

['c:\\Users\\Avijit\\Desktop\\AgriAssure\\AGRIYIELD PRO\\ENCODER-DECODER\\scaler.pkl']

In [68]:
data

           Crop    Season  Annual_Rainfall  Fertilizer  Pesticide        yield
0     -1.886683  1.605437         0.751197   -0.179880  -0.121745     0.768255
1     -1.822418 -0.848586         0.751197   -0.247217  -0.219385     0.705891
2     -1.372560 -0.848586         0.751197   -0.253072  -0.227875     0.027638
3     -1.308294  1.605437         0.751197   -0.234167  -0.200462  6456.298331
4     -1.179763 -0.848586         0.751197   -0.252127  -0.226504     0.456584
...         ...       ...              ...         ...        ...          ...
19684  0.940996 -0.848586         0.073749   -0.249707  -0.223593     0.500000
19685  1.519385 -0.030578         0.073749   -0.252829  -0.227672     3.000000
19686 -0.344313 -0.848586        -0.099836    0.057755   0.222829     1.418218
19687  0.683935 -0.848586        -0.099836    0.022534   0.171758     0.019902
19688  1.519385 -0.030578        -0.099836   -0.013955   0.118849     1.638479

[19689 rows x 6 columns]

In [119]:
data['yield']=data['yield']*1000

In [140]:
Q1 = data['yield'].quantile(0.25)
Q3 = data['yield'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = data[(data['yield'] < lower_bound) | (data['yield'] > upper_bound)]
num_outliers = outliers.shape[0]

print(f"Number of outliers in 'Yield': {num_outliers}")
data = data[(data['yield'] >= lower_bound) & (data['yield'] <= upper_bound)]
print(f"Remaining data after outlier removal: {data.shape[0]} rows")

Number of outliers in 'Yield': 0
Remaining data after outlier removal: 14279 rows

In [141]:
percent = (num_outliers / data.shape[0]) * 100
print(f"Outliers percentage in 'Yield': {percent:.2f}%")

Outliers percentage in 'Yield': 0.00%

Crop: The name of the crop cultivated.
Crop_Year: The year in which the crop was grown.
Season: The specific cropping season (e.g., Kharif, Rabi, Whole Year).
State: The Indian state where the crop was cultivated.
Area: The total land area (in hectares) under cultivation for the specific crop.
Production: The quantity of crop production (in metric tons).
Annual_Rainfall: The annual rainfall received in the crop-growing region (in mm).
Fertilizer: The total amount of fertilizer used for the crop (in kilograms).
Pesticide: The total amount of pesticide used for the crop (in kilograms).
Yield: The calculated crop yield (production per unit area).
Use Cases:

In [142]:
data.to_csv(r'C:\Users\Avijit\Desktop\AgriAssure\AGRIYIELD PRO\PROCESSED_DATASET\yield4.csv',index=False)